<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RumbleSheet.JS - getting started</title>
    <link rel="shortcut icon" href="../../../../public/assets/logo/logo.png" type="image/x-icon">

    <!-- Bootstrap cdn-->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&display=swap"
        rel="stylesheet">

    <!-- Hamburger -->
    <link rel="stylesheet" href="../../public/dist/hamburger.css">

    <!-- local stylesheet -->
    <link rel="stylesheet" href="../../public/styles/navbar.css">
    <link rel="stylesheet" href="../public/styles/main-container.css">
    <link rel="stylesheet" href="../public/styles/sidebar.css">
    <link rel="stylesheet" href="../public/styles/styles.css">

</head>

<body>

    <nav class="navbar navbar-other-sections navbar-expand-lg fixed-top navbar-scrolled shadow-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../../../index.html">
                <img src="../../../../public/assets/logo/logo-branding.png" height="50" alt="">
            </a>
            <button class="hamburger hamburger--spin navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-label="get started link"
                        href="./docs/latest/getting-started/index.html">Docs</a>
                    <a class="nav-link" target="_blank" aria-label="demo link" href="#demo">Demo
                        <span class="iconify redirect-icon" data-icon="eva:external-link-outline" data-width="18"
                            data-height="18"></span>
                    </a>
                    <a class="nav-link" aria-label="contribute link" href="#contribute">Contribute</a>
                    <a class="nav-link" aria-label="sponsor link" href="#sponsor">Sponsor</a>
                    <a id="nav-item" target="_blank" aria-label="Fork" data-balloon-pos="down"
                        href="https://github.com/pandevs-org/RumblesheetJS"
                        class="d-flex align-items-center justify-content-start">
                        <button class="fork-btn" aria-label="fork btn"
                            class="d-flex justify-content-center align-items-center">
                            <span class="iconify" data-icon="mdi:github" data-width="23" data-height="23"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="body-layout d-flex">
        <div class="sidebar-container">
            <div class="sidebar pt-5">

                <button class="sidebar-toggler sidebar-toggler-close">
                    <span class="iconify" data-icon="icon-park-outline:indent-left" data-width="25"
                        data-height="25"></span>
                </button>

                <ul id="getting-started-ul" class="sidebar-ul">
                    <li class="sidebar-li" id="sidebar-li-getting-started"
                        onclick="window.location.href='../getting-started/getting-started.html'">

                        <span class="sidebar-div-heading">Getting Started</span>
                    </li>

                    <li class="sidebar-li getting-started-inner-li"
                        onclick="window.location.href='../getting-started/getting-started.html'">

                        <span class="sidebar-div-sub-heading">Getting Started</span>
                    </li>

                    <li class="sidebar-li getting-started-inner-li">
                        <span class="sidebar-div-sub-heading">Installation</span>
                    </li>

                    <li class="sidebar-li getting-started-inner-li">
                        <span class="sidebar-div-sub-heading">Step-by-step guide</span>
                    </li>
                </ul>

                <ul id="general-ul" class="sidebar-ul">
                    <li class="sidebar-li" id="sidebar-li-general">
                        <span class="sidebar-div-heading">General</span>
                    </li>

                    <li class="sidebar-li general-inner-li">
                        <span class="sidebar-div-sub-heading">Accessibility</span>
                    </li>

                    <li class="sidebar-li general-inner-li">
                        <span class="sidebar-div-sub-heading">Colors</span>
                    </li>

                    <li class="sidebar-li general-inner-li">
                        <span class="sidebar-div-sub-heading">Data Structure</span>
                    </li>

                    <li class="sidebar-li general-inner-li">
                        <span class="sidebar-div-sub-heading">Fonts</span>
                    </li>

                    <li class="sidebar-li general-inner-li">
                        <span class="sidebar-div-sub-heading">Options</span>
                    </li>

                    <li class="sidebar-li general-inner-li">
                        <span class="sidebar-div-sub-heading">Performance</span>
                    </li>
                </ul>

                <ul id="configuration-ul" class="sidebar-ul">
                    <li class="sidebar-li" id="sidebar-li-configuration">
                        <span class="sidebar-div-heading">Sheet Configuration</span>
                    </li>

                    <li class="sidebar-li configuration-inner-li">
                        <span class="sidebar-div-sub-heading">Sheet Configuration</span>
                    </li>
                </ul>

                <ul id="contribute-ul" class="sidebar-ul">
                    <li class="sidebar-li active" id="sidebar-li-contribute"
                        onclick="window.location.href='#intro-section'">
                        <span class="sidebar-div-heading active">Contribute</span>
                    </li>

                    <li class="sidebar-li contribute-inner-li" onclick="window.location.href='#intro-section'">
                        <span class="sidebar-div-sub-heading">Contribute</span>
                    </li>

                    <li class="sidebar-li contribute-inner-li"
                        onclick="window.location.href='#have-a-question-section'">
                        <span class="sidebar-div-sub-heading">I Have a Question</span>
                    </li>

                    <li class="sidebar-li contribute-inner-li"
                        onclick="window.location.href='#want-to-report-issues-section'">
                        <span class="sidebar-div-sub-heading">I Want to Report Issues</span>
                    </li>

                    <li class="sidebar-li contribute-inner-li"
                        onclick="window.location.href='#want-to-submit-code-section'">
                        <span class="sidebar-div-sub-heading">I Want to Submit Code</span>
                    </li>

                </ul>

                <ul id="sponsor-ul" class="sidebar-ul">
                    <li class="sidebar-li" id="sidebar-li-sponsor">
                        <span class="sidebar-div-heading">Sponsor</span>
                    </li>

                    <li class="sidebar-li sponsor-inner-li">
                        <span class="sidebar-div-sub-heading">Sponsor</span>
                    </li>
                </ul>

            </div>
        </div>

        <div class="main-container">
            <div class="main pt-5">

                <button class="sidebar-toggler sidebar-toggler-open">
                    <span class="iconify" data-icon="icon-park-outline:indent-right" data-width="25"
                        data-height="25"></span>
                </button>

                <div class="main-content">
                    <div class="main-heading-div">
                        <h1 class="main-heading">
                            Contribute
                        </h1>
                    </div>

                    <!-- intro section -->
                    <section class="section" id="intro-section">

                        <div class="section-content-div">
                            <p class="section-content">
                                We greatly value and encourage all kinds of contributions.
                                Before getting started, please review the relevant section to ensure a smooth process
                                for everyone and to assist the maintainers in managing contributions effectively.
                                The community eagerly awaits your input!
                            </p>
                        </div>

                        <div class="muted-content">
                            <p>If you love the project but don’t have the time to contribute, that’s absolutely
                                fine!
                                There are other simple ways to support and show your appreciation, which we’d
                                greatly value:</p>

                            <ul class="main-container-ul">
                                <li>Give the project a star</li>
                                <li>Share it on Twitter</li>
                                <li>Add a reference to it in your project’s README</li>
                                <li>Mention it at local meetups or share it with your friends and colleagues</li>
                            </ul>
                        </div>

                    </section>

                    <!-- have a question section -->
                    <section class="section mt-4" id="have-a-question-section">
                        <div class="section-heading-div">
                            <h2 class="section-heading">
                                I Have a Question
                            </h2>
                        </div>

                        <div class="section-content-div">

                            <div class="muted-content mt-3">
                                <p class="mb-0">We assume you’ve gone through the available documentation before raising
                                    a question.
                                </p>
                            </div>

                            <p class="mt-3">It’s recommended to search for existing <a
                                    href="https://github.com/pandevs-org/RumblesheetJS/issues"
                                    class="redirect-link">issues</a> before asking a question, as you may find helpful
                                information.
                                If you come across a relevant issue but need more clarification, feel free to add your
                                question there.
                                Additionally, consider reaching out to the community on the rumblesheetjs <a
                                    href="https://discord.gg/sCHBvazU5w" class="redirect-link">Discord</a> server for
                                further support.</p>

                            <p>If you still need clarification after searching, we suggest the following:
                            </p>

                            <ul class="main-container-ul">
                                <li>Open a new <a href="https://github.com/pandevs-org/RumblesheetJS/issues/new"
                                        class="redirect-link">issue</a>.</li>
                                <li>Include as much detail as possible about the issue you’re encountering.</li>
                                <li>Provide relevant information such as project version, browser, and operating system.
                                </li>
                            </ul>

                            <p class="mt-3">We (or someone from the community) will address the issue as soon as
                                possible.</p>
                        </div>
                    </section>

                    <!-- want to report issues issues -->
                    <section class="section mt-4" id="want-to-report-issues-section">
                        <div class="section-heading-div">
                            <h2 class="section-heading">
                                I Want to Report Issues
                            </h2>
                        </div>

                        <div class="section-content-div">

                            <div class="muted-content mt-3">
                                <h5 class="heading-5 mb-1">Legal Disclaimer</h5>

                                <p class="mb-0">By contributing to this project, you confirm that you are the sole
                                    author of
                                    the content, possess the necessary rights to it, and agree that your contributions
                                    may
                                    be distributed under the project’s license.
                                </p>
                            </div>

                            <!-- prior to reporting a bug - sub section -->
                            <div class="section-sub-content-div mt-3">

                                <h4 class="heading-4">Prior to Reporting a Bug</h4>

                                <p class="mt-3">
                                    To ensure efficient bug resolution, a well-documented report is crucial.
                                    We kindly request you to investigate thoroughly, gather all necessary details, and
                                    provide a clear description of the issue.
                                    Completing the following steps in advance will help us address the problem as
                                    quickly as
                                    possible.</p>

                                <ul class="main-container-ul">
                                    <li>Ensure you are using the latest version of the library.</li>
                                    <li>Confirm that the issue is not caused by a misconfiguration or incompatible
                                        environment setup (e.g., conflicting Node.js, browser, or framework versions).
                                        Be sure to review the documentation thoroughly.
                                        If you need assistance, check the <a class="redirect-link"
                                            href="#have-a-question-section">this section</a> for guidance.</li>
                                    <li>Look through the library's
                                        <a href="https://github.com/pandevs-org/RumblesheetJS/issues/new"
                                            class="redirect-link">issue tracker</a>
                                        to see if the problem has already been
                                        reported or resolved by others.
                                    </li>
                                    <li>Search the web, including forums like Stack Overflow, for discussions or
                                        solutions
                                        related to the issue.</li>
                                    <li>Collect detailed information about the issue, including:
                                        <ul>
                                            <li>
                                                Any error messages or stack traces from the browser console or Node.js
                                                runtime
                                            </li>
                                            <li>
                                                The operating system, platform, and environment (e.g., Windows, macOS,
                                                Linux, browser type/version, Node.js version)
                                            </li>
                                            <li>
                                                The version of the library and any dependencies being used
                                            </li>
                                            <li>
                                                The code snippet or input that triggers the issue, along with the
                                                observed
                                                output
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Test whether the issue is consistently reproducible and whether it occurs in
                                        previous versions of the library.
                                    </li>
                                </ul>
                            </div>

                            <div class="section-sub-content-div mt-3">

                                <h4 class="heading-4">Guidelines for Writing an Effective Bug Report</h4>

                                <div class="muted-content mt-3">
                                    <p class="mb-0">Do not report security-related issues, vulnerabilities, or bugs with
                                        sensitive information on the issue tracker or any public platforms. Instead,
                                        please email these types of bugs to <a class="redirect-link-muted-content"
                                            href="mailto:opensource@pandevs.org"
                                            aria-label="mail link">opensource@pandevs.org</a>.
                                    </p>
                                </div>

                                <p class="mt-3">We use GitHub issues to track bugs and errors in the project. If you
                                    encounter an
                                    issue with the library:</p>

                                <ul class="main-container-ul">
                                    <li>Open a new issue (at this stage, please avoid labeling it as a bug until we
                                        confirm).
                                    </li>
                                    <li>Describe the expected behavior and the actual behavior.
                                    </li>
                                    <li>Provide as much context as possible, including clear steps to reproduce the
                                        issue. This typically involves sharing relevant code. For effective bug reports,
                                        isolate the issue and create a minimal test case.
                                    </li>
                                    <li>Include the information you've gathered from the previous section.</li>
                                </ul>

                                <p class="mt-3">Once the issue is submitted:</p>

                                <ul class="main-container-ul">
                                    <li>The project team will label the issue appropriately.
                                    </li>
                                    <li>A team member will attempt to reproduce the issue using the steps you provided.
                                        If there are no steps or it's unclear how to reproduce the issue, the team will
                                        request those steps and mark the issue as <span
                                            class="highlight-badge">needs-repro</span> Issues marked with
                                        <span class="highlight-badge">needs-repro</span> will not be addressed until
                                        they can be reproduced.
                                    </li>
                                    <li>If the team successfully reproduces the issue, it will be labeled <span
                                            class="highlight-badge">needs-fix</span>
                                        and potentially other tags (e.g., <span
                                            class="highlight-badge">critical</span>). The issue will then be <a class="redirect-link"
                                            href="#want-to-submit-code-section">assigned</a>
                                        for resolution.
                                    </li>
                                    <li>Please ensure you use the provided issue templates.</li>
                                </ul>

                            </div>

                        </div>
                    </section>

                    <!-- want to submit code -->
                    <section class="section mt-4" id="want-to-submit-code-section">
                        <div class="section-heading-div">
                            <h2 class="section-heading">
                                I Want to Submit Code
                            </h2>
                        </div>
                    </section>

                </div>

            </div>
        </div>

    </div>

    <!-- <footer> -->
    <div class="footer d-flex justify-content-center align-items-center">
        <div class="row" style="margin-right: 0; margin-left: 0">
            <div class="col-12 d-flex justify-content-center pt-2 pb-2 text-center">
                <p class="contrib-info m-0" class="m-0">Built with all the
                    <span class="iconify" style="color: #A856F0;" data-icon="mdi:heart" data-width="23"
                        data-height="23"></span>
                    in the world by <br> pandevs.org
                </p>
            </div>
        </div>
    </div>

    <button id="toggle-theme" class="rounded-circle d-flex align-items-center justify-content-center">
        <span class="iconify iconify-navbar" data-icon="ri:moon-fill" data-width="30" data-height="30"
            style="color: #F1EAFF"></span>
    </button>



    <!-- Boostrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
        </script>

    <!-- iconify -->
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>

    <!-- local js -->
    <script src="../public/js/sidebar.js"></script>
    <script src="../../public/js/index.js"></script>



</body>



</html>