<!-- Home Section -->
<section id="home" class="d-flex justify-content-center align-items-center">
  <div class="row home-content m-0 px-3">
    <div
      class="col-12 p-0 home-cols d-flex align-items-center justify-content-center"
    >
      <img class="main-img" src="/public/images/logo/logo.png" height="120" />
    </div>
    <div
      class="col-12 p-0 mt-2 home-cols home-info-div d-flex justify-content-center"
    >
      <h2 class="home-info mb-0 text-center">
        Seamlessly integrate dynamic, interactive spreadsheets into any website
        for enhanced data management and visualization
      </h2>
    </div>

    <div
      class="col-12 p-0 mt-3 home-cols home-info-div d-flex justify-content-center align-items-center"
    >
      <app-code-block [prefixText]="'$'" [language]="'bash'"
        >npm i rumblesheetjs</app-code-block
      >

      <button
        class="home-section-btn d-flex justify-content-center align-items-center"
      >
        Get Started
      </button>
    </div>
  </div>
</section>
