nav>.container-fluid {
	height: 100%;
	padding-top: 6.250px;
	padding-bottom: 6.250px;
	
}
nav>.container-fluid>#navbarNavAltMarkup {
	height: 100%;
}
.navbar-nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-home-section {
	padding: 24px 48px 8px;
}
.navbar-other-section {
	padding: 0px 48px 0px;
	background-color: var(--clr-accent-400);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}
.logo {
	max-height: 50px;
}
.navbar-brand {
	color: var(--clr-accent-800);
	height: 100%;
	display: flex;
	align-items: center;
}
.navbar-brand:hover {
	cursor: pointer;
}
.nav-link {
	white-space: nowrap;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--clr-accent-700) !important;
	text-decoration: none !important;
	font-size: var(--fs-200) !important;
	position: relative;
}
.nav-link.active {
	color: var(--clr-accent-800) !important;
}
.nav-link:hover {
	color: var(--clr-accent-800) !important;
	cursor: pointer;
}
.nav-link:focus {
	color: var(--clr-accent-800) !important;
}

/* fork btn */
.fork-btn {
	appearance: none;
	background-color: var(--clr-accent-700);
	border: none;
	border-radius: 7px;
	box-sizing: border-box;
	color: var(--clr-accent-300);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: normal;
	margin: 4px;
	height: 35px;
	min-width: 50px;
	outline: none;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

.fork-btn:hover {
	box-shadow: rgba(139, 31, 234, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.fork-btn:active {
	box-shadow: none;
	transform: translateY(0);
}

/* navbar-toggler */
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	background-color: var(--clr-accent-600) !important;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

/* media query */
@media (max-width: 1200px) {}

@media (max-width: 993px) {
	.fork-btn {
		margin: 4px 0;
	}
}

@media (max-width: 780px) {}

@media (max-width: 550px) {
	.logo {
		height: 40px;
	}
	.navbar {
		padding: 0;
	}
}

@media (max-height: 820px) {}

@media (max-height: 635px) {
	.logo {
		height: 45px;
	}
}