.preloader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.load {
	animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* home */
#home {
	height: 87Vh !important;
	background-color: none;
}

#home .home-content {
	height: 35vh;
	max-width: 600px;
}

#home .home-cols {
	padding-left: 0;
	padding-right: 0;
}

#home .home-heading {
	color: var(--clr-accent-800);
}

#home .home-info {
	font-size: var(--fs-300);
	font-weight: 400;
	color: var(--clr-accent-950);
}

/* home-section-btn */
.home-section-btn {
	appearance: none;
	background-color: #8B1FEA;
	border: 2px solid #8B1FEA;
	border-radius: 7px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: var(--fs-300);
	line-height: normal;
	margin: 4px;
	padding: 10px;
	height: 60px;
	width: fit-content;
	outline: none;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

.home-section-btn:hover {
	box-shadow: rgba(139, 31, 234, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.home-section-btn:active {
	box-shadow: none;
	transform: translateY(0);
}

.footer {
	height: 13vh;
}


/* media query */
@media (max-width: 1200px) {
	#home .home-heading {
		font-size: var(--fs-600) !important;
	}

	#home .home-info {
		font-size: var(--fs-300);
	}

	#home .home-content {
		height: 40vh;
	}

	#home .main-img {
		max-width: 400px !important;
	}
}

@media (max-width: 945px) {
	#home .home-content {
		font-size: var(--fs-500) !important;
	}

	#home .main-img {
		max-width: 350px !important;
	}
}

@media (max-width: 780px) {
	#home .home-heading {
		font-size: var(--fs-400) !important;
	}

	#home .home-info {
		font-size: var(--fs-250);
	}

	#home .main-img {
		max-width: 300px !important;
	}

	.know-more-btn {
		font-size: var(--fs-200) !important;
		height: 50px;
	}
}

@media (max-width: 550px) {
	#home .main-img {
		max-width: 250px !important;
	}
}

@media (max-height: 820px) {
	#home .main-img {
		max-width: 250px !important;
	}
}