@import "global.css";

nav>.container-fluid {
	height: 100%;
	padding-top: 6.250px;
	padding-bottom: 6.250px;
}


nav>.container-fluid>#navbarNavAltMarkup {
	height: 100%;
}


.navbar-nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-bg {
	background-color: var(--clr-accent-400);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.navbar-other-sections {
	background-color: var(--clr-accent-400);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	background-color: var(--clr-accent-600) !important;
}

.navbar-brand {
	color: var(--clr-accent-800);
	height: 100%;
	display: flex;
	align-items: center;
}

.logo {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;
	max-width: 70px;
}

.navbar-scrolled {
	padding: 2px 48px 8px;
}

.navbar-unscrolled {
	padding: 24px 48px 8px;
}

.nav-link {
	white-space: nowrap;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--clr-accent-700) !important;
	text-decoration: none !important;
	font-size: var(--fs-200) !important;
	position: relative;
}

.nav-link.active {
	color: var(--clr-accent-800) !important;
}

.nav-link:hover {
	color: var(--clr-accent-800) !important;
}

.nav-link:focus {
	color: var(--clr-accent-800) !important;
}

.nav-link:before {
	position: absolute;
	bottom: -24px;
	content: "";
	width: 83.5%;
	height: 3px;
	background: var(--clr-accent-800);
	transform: translateX(-100%);
	opacity: 0;
}

.nav-link:hover:before {
	opacity: 1;
	transition: 0.5s transform ease, 0.8s opacity ease;
	transform: translateX(0);
}

.nav-link.active:before {
	opacity: 1;
	transition: 0.5s transform ease, 0.8s opacity ease;
	transform: translateX(0);
}

.redirect-icon {
	margin-top: 3px;
}

/* fork btn */
.fork-btn {
	appearance: none;
	background-color: var(--clr-accent-700);
	border: none;
	border-radius: 7px;
	box-sizing: border-box;
	color: var(--clr-accent-300);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: normal;
	margin: 4px;
	height: 35px;
	min-width: 50px;
	outline: none;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

.fork-btn:hover {
	box-shadow: rgba(139, 31, 234, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.fork-btn:active {
	box-shadow: none;
	transform: translateY(0);
}

/* navbar-toggler */
.navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

/* media query */
@media (max-width: 1200px) {}

@media (max-width: 993px) {
	.fork-btn {
		margin: 4px 0;
	}

	.nav-link:before {
		position: absolute;
		bottom: 0px;
		content: "";
		width: 83.5%;
		height: 3px;
		background: var(--clr-accent-800);
		transform: translateX(-100%);
		opacity: 0;
	}
	
}

@media (max-width: 780px) {}

@media (max-width: 550px) {
	.logo {
		width: 60px;
	}
	.navbar-unscrolled {
		padding: 0;
	}
	.navbar-scrolled {
		padding: 0;
	}
}

@media (max-height: 820px) {}

@media (max-height: 635px) {
	.logo {
		width: 55px;
	}
}