@import "variables.css";

body {
	background-color: var(--clr-accent-300);
	background-image: url(../assets/background/light-gradient.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Fira Sans', sans-serif;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

/* footer */
.contrib-info {
	color: var(--clr-accent-950);
	font-size: var(--fs-150);
}

/* Toggle Theme */
#toggle-theme {
	position: fixed;
	border: 0;
	z-index: 10;
	bottom: 0;
	right: 0;
	margin: 15px;
	text-decoration: none;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%) !important;
}

#toggle-theme.scroll {
	display: flex;
}

#toggle-theme {
	height: 6vh;
	width: 6vh;
    background-color: #8B1FEA;
	justify-content: center;
	align-items: center;
}

@media (max-width: 780px) {
	.contrib-info {
		font-size: var(--fs-100);
	}
}
