:root {
    --clr-accent-100: #ffffff;  /*rgba(255, 255, 255, 1)*/  /*4c566a*/ /*ffffff*/
    --clr-accent-200: #F1EAFF;  /*rgba(241, 234, 255, 1)*/   /*434c5e*/ /*EEFEFE*/
    --clr-accent-300: #E5D4FF;  /*rgba(229, 212, 255, 1)*/   /*3b4252*/ /*E3FDFD*/
    --clr-accent-400: #DCBFFF;  /*rgba(220, 191, 255, 1)*/   /*111318*/ /*CBF1F5*/
    --clr-accent-500: #D5B0FD;  /*rgba(213, 176, 253, 1)*/
    --clr-accent-600: #A856F0;  /*rgba(168, 86, 240, 1)*/
    --clr-accent-700: #8B1FEA;  /*rgba(139, 31, 234, 1)*/
    --clr-accent-800: #7612CE;  /*rgba(118, 18, 206, 1)*/
    --clr-accent-900: #560C97;  /*rgba(86, 12, 151, 1)*/
    --clr-accent-950: #36085E;  /*rgba(54, 8, 94, 1)*/

  
    --clr-dark-accent-100: #4c566a;
    --clr-dark-accent-200: #434c5e;
    --clr-dark-accent-300: #3b4252;
    --clr-dark-accent-400: #111318;
  
    --clr-light-accent-100: #ffffff;
    --clr-light-accent-200: #EEFEFE;
    --clr-light-accent-300: #E3FDFD;
    --clr-light-accent-400: #CBF1F5;
  
    --clr-heading: #212529;
    --clr-sub-heading: #212529;
    --clr-info: hsl(210, 11%, 15%);
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
  
    --fs-100: 0.80rem;
    --fs-120: 0.86rem;
    --fs-130: 0.90rem;
    --fs-140: 0.93rem;
    --fs-150: 0.96rem;
    --fs-200: 1rem;
    --fs-250: 1.25rem;
    --fs-300: 1.5rem;
    --fs-350: 1.75rem;
    --fs-400: 2rem;
    --fs-450: 2.25rem;
    --fs-500: 2.5rem;
    --fs-600: 3rem;
    --fs-650: 3.75rem;
    --fs-700: 4.5rem;
    --fs-750: 5rem;
    --fs-800: 6rem;
    --fs-900: 7.5rem;
  }