@import "../../../public/styles/variables.css";

a {
    text-decoration: none;
}

.main-container {
    width: 80%;
    overflow-y: auto;
}

.main-content {
    padding: 0 18%;
    color: var(--clr-accent-900)
}

.main-heading {
    font-size: var(--fs-450);
    margin-bottom: 0;
    border-bottom: 1px solid rgba(139, 31, 234, 0.3);
}

.section-heading {
    font-size: var(--fs-300);
    margin-bottom: 0;
    border-bottom: 1px solid rgba(139, 31, 234, 0.3);
}

.heading-4 {
    font-size: var(--fs-200);
    margin-bottom: 0;
}

.heading-5 {
    font-size: var(--fs-150);
    margin-bottom: 0;
}

.section-heading-div {}


.section-content-div {
    margin-top: 15px;
    opacity: 0.85;
    font-size: var(--fs-140);
}

/* .section-sub-content-div:not(:first-of-type) {
} */

.muted-content {
    background-color: var(--clr-accent-400);
    font-size: var(--fs-130);
    border-radius: 10px;
    padding: 7px 15px 7px 30px;
    opacity: 0.85;
    border-left: 4px solid var(--clr-accent-900);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.redirect-link {
    color: var(--clr-accent-600);
    font-weight: var(--fw-semi-bold);
}

.redirect-link:hover {
    color: var(--clr-accent-700);
}

.redirect-link-muted-content {
    color: var(--clr-accent-700);
    font-weight: var(--fw-semi-bold);
}

.redirect-link-muted-content:hover {
    color: var(--clr-accent-800);
    font-weight: var(--fw-semi-bold);
}

.highlight-badge {
    background-color: var(--clr-accent-300);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
    padding: 1px 3px;
    white-space: nowrap;
}

.main-container-ul {
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .main-container {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .main-content {
        padding: 0 10%;
    }
}