@import "../../../public/styles/variables.css";

/* sidebar */
.sidebar-container {
    height: inherit;
    border-right: 1px solid rgba(139, 31, 234, 0.3);
    padding-right: 20px;
    width: 20%;
}

.sidebar-toggler {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-div-heading {
    color: var(--clr-accent-800);
}

.sidebar-div-heading:hover {
    cursor: default;
}

.sidebar-div-heading.active {
    font-weight: var(--fw-semi-bold);
}

.sidebar-div-sub-heading {
    color: var(--clr-accent-600);
    font-size: var(--fs-100);
}

.sidebar-div-sub-heading.active {
    color: var(--clr-accent-800);
    font-weight: var(--fw-semi-bold);
}

.sidebar-li {
    position: relative;
    margin-left: 25px;
    padding-left: 30px;
    transition: height .1s ease-out;
}

.sidebar-li:not(:first-of-type):hover::before {
    -webkit-animation: circle 1.2s infinite;
    animation: circle 1.2s infinite;
}

.sidebar-li:hover .sidebar-div-sub-heading {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-accent-800);
    cursor: pointer;
}

.sidebar-li:last-of-type {
    padding-bottom: 3px;
}

.sidebar-li:last-of-type::after {
    border-radius: 1.5px;
    height: 0%;
}

.sidebar-li:first-of-type::before {
    width: 15px;
    height: 15px;
    left: 0px;
}

.sidebar-li:first-of-type.active:before {
    background: var(--clr-accent-950);
}

.sidebar-li::before,
.sidebar-li::after {
    content: "";
    display: block;
    position: absolute;
}

.sidebar-li::before {
    width: 12px;
    height: 12px;
    border: 2.5px solid var(--clr-accent-950);
    background: var(--clr-accent-500);
    border-radius: 50%;
    left: 0.8px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-li.active:before {
    background: var(--clr-accent-950);
}

.sidebar-li::after {
    width: 3px;
    height: 100%;
    background: var(--clr-accent-950);
    left: 5.5px;
    top: 50%;
}

/* This class hides the ::after content */
.hide-after::after {
    display: none;
}

.sidebar ul li span {
    transition-duration: 0.3s;
}

@-webkit-keyframes circle {
    from {
        box-shadow: 0 0 0 0px var(--clr-accent-800);
    }

    to {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }
}

@keyframes circle {
    from {
        box-shadow: 0 0 0 0px var(--clr-accent-800);
    }

    to {
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }
}

@media (max-width: 1200px) {
    .sidebar-container {
        background-color: var(--clr-accent-200);
        position: absolute;
        width: auto;
        display: none;
    }

    .sidebar-toggler {
        display: inline-block;
        height: 40px;
        background-color: var(--clr-accent-700);
        color: var(--clr-accent-300);
        padding: 2px 8px 2px 4px;
        border-radius: 0 100% 100% 0;
        box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%) !important;
        border: 0;
    }
    .sidebar-toggler-close {
        position: absolute;
        right: 0;
        transform: translateX(100%);
    }
}