<app-main-container>
  
  <div class="main-heading-div">
    <h1 class="main-heading">Contribute</h1>
  </div>

  <!-- intro section -->
  <section class="section" id="intro-section">
    <div class="section-content-div">
      <p class="section-content">
        We greatly value and encourage all kinds of contributions. Before
        getting started, please review the relevant section to ensure a smooth
        process for everyone and to assist the maintainers in managing
        contributions effectively. The community eagerly awaits your input!
      </p>

      <div class="muted-content">
        <p>
          If you love the project but don’t have the time to contribute, that’s
          absolutely fine! There are other simple ways to support and show your
          appreciation, which we’d greatly value:
        </p>

        <ul class="main-container-ul">
          <li>Give the project a star</li>
          <li>Share it on Twitter</li>
          <li>Add a reference to it in your project’s README</li>
          <li>
            Mention it at local meetups or share it with your friends and
            colleagues
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- have a question section -->
  <section class="section mt-4" id="have-a-question-section">
    <div class="section-heading-div">
      <h2 class="section-heading">I Have a Question</h2>
    </div>

    <div class="section-content-div">
      <div class="muted-content mt-3">
        <p class="mb-0">
          We assume you’ve gone through the available documentation before
          raising a question.
        </p>
      </div>

      <p class="mt-3">
        It’s recommended to search for existing
        <a
          href="https://github.com/pandevs-org/RumblesheetJS/issues"
          class="redirect-link"
          >issues</a
        >
        before asking a question, as you may find helpful information. If you
        come across a relevant issue but need more clarification, feel free to
        add your question there. Additionally, consider reaching out to the
        community on the RUMBLESHEET.JS
        <a href="https://discord.gg/sCHBvazU5w" class="redirect-link"
          >Discord</a
        >
        server for further support.
      </p>

      <p>
        If you still need clarification after searching, we suggest the
        following:
      </p>

      <ul class="main-container-ul">
        <li>
          Open a new
          <a
            href="https://github.com/pandevs-org/RumblesheetJS/issues/new"
            class="redirect-link"
            >issue</a
          >.
        </li>
        <li>
          Include as much detail as possible about the issue you’re
          encountering.
        </li>
        <li>
          Provide relevant information such as project version, browser, and
          operating system.
        </li>
      </ul>

      <p class="mt-3">
        We (or someone from the community) will address the issue as soon as
        possible.
      </p>
    </div>
  </section>

  <!-- want to report issues issues -->
  <section class="section mt-4" id="want-to-report-issues-section">
    <div class="section-heading-div">
      <h2 class="section-heading">I Want to Report Issues</h2>
    </div>

    <div class="section-content-div">
      <div class="muted-content mt-3">
        <h5 class="heading-5 mb-1">Legal Disclaimer</h5>

        <p class="mb-0">
          By contributing to this project, you confirm that you are the sole
          author of the content, possess the necessary rights to it, and agree
          that your contributions may be distributed under the project’s
          license.
        </p>
      </div>

      <!-- prior to reporting a bug - sub section -->
      <div class="section-sub-content-div mt-3">
        <h4 class="heading-4">Prior to Reporting a Bug</h4>

        <p class="mt-3">
          To ensure efficient bug resolution, a well-documented report is
          crucial. We kindly request you to investigate thoroughly, gather all
          necessary details, and provide a clear description of the issue.
          Completing the following steps in advance will help us address the
          problem as quickly as possible.
        </p>

        <ul class="main-container-ul">
          <li>Ensure you are using the latest version of the library.</li>
          <li>
            Confirm that the issue is not caused by a misconfiguration or
            incompatible environment setup (e.g., conflicting Node.js, browser,
            or framework versions). Be sure to review the documentation
            thoroughly. If you need assistance, check the
            <a class="redirect-link" href="#have-a-question-section"
              >this section</a
            >
            for guidance.
          </li>
          <li>
            Look through the library's
            <a
              href="https://github.com/pandevs-org/RumblesheetJS/issues/new"
              class="redirect-link"
              >issue tracker</a
            >
            to see if the problem has already been reported or resolved by
            others.
          </li>
          <li>
            Search the web, including forums like Stack Overflow, for
            discussions or solutions related to the issue.
          </li>
          <li>
            Collect detailed information about the issue, including:
            <ul>
              <li>
                Any error messages or stack traces from the browser console or
                Node.js runtime
              </li>
              <li>
                The operating system, platform, and environment (e.g., Windows,
                macOS, Linux, browser type/version, Node.js version)
              </li>
              <li>
                The version of the library and any dependencies being used
              </li>
              <li>
                The code snippet or input that triggers the issue, along with
                the observed output
              </li>
            </ul>
          </li>
          <li>
            Test whether the issue is consistently reproducible and whether it
            occurs in previous versions of the library.
          </li>
        </ul>
      </div>

      <div class="section-sub-content-div mt-3">
        <h4 class="heading-4">
          Guidelines for Writing an Effective Bug Report
        </h4>

        <div class="muted-content mt-3">
          <p class="mb-0">
            Do not report security-related issues, vulnerabilities, or bugs with
            sensitive information on the issue tracker or any public platforms.
            Instead, please email these types of bugs to
            <a
              class="redirect-link-muted-content"
              href="mailto:opensource@pandevs.org"
              aria-label="mail link"
              >opensource&#64;pandevs.org</a
            >.
          </p>
        </div>

        <p class="mt-3">
          We use GitHub issues to track bugs and errors in the project. If you
          encounter an issue with the library:
        </p>

        <ul class="main-container-ul">
          <li>
            Open a new issue (at this stage, please avoid labeling it as a bug
            until we confirm).
          </li>
          <li>Describe the expected behavior and the actual behavior.</li>
          <li>
            Provide as much context as possible, including clear steps to
            reproduce the issue. This typically involves sharing relevant code.
            For effective bug reports, isolate the issue and create a minimal
            test case.
          </li>
          <li>
            Include the information you've gathered from the previous section.
          </li>
        </ul>

        <p class="mt-3">Once the issue is submitted:</p>

        <ul class="main-container-ul">
          <li>The project team will label the issue appropriately.</li>
          <li>
            A team member will attempt to reproduce the issue using the steps
            you provided. If there are no steps or it's unclear how to reproduce
            the issue, the team will request those steps and mark the issue as
            <span class="highlight-badge">needs-repro</span> Issues marked with
            <span class="highlight-badge">needs-repro</span> will not be
            addressed until they can be reproduced.
          </li>
          <li>
            If the team successfully reproduces the issue, it will be labeled
            <span class="highlight-badge">needs-fix</span> and potentially other
            tags (e.g., <span class="highlight-badge">critical</span>). The
            issue will then be
            <a class="redirect-link" href="#want-to-submit-code-section"
              >assigned</a
            >
            for resolution.
          </li>
          <li>Please ensure you use the provided issue templates.</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- want to submit code -->
  <section class="section mt-4" id="want-to-submit-code-section">
    <div class="section-heading-div">
      <h2 class="section-heading">I Want to Submit Code</h2>
    </div>
  </section>

</app-main-container>
